<div class="signupContainer" layout="row" layout-align="center">
    <div class="signupCenter" layout="column" layout-align="start" layout-padding flex style="max-width:400px;">
      <h1 class="title md-display-2">Sign Up</h1>
      <form name="signupForm">
        <md-input-container class="md-block">
          <label>Username</label>
          <input id="usr" name="username" ng-model="signup.username" md-maxlength="20" required>
          <div ng-messages="signupForm.username.$error" role="alert" multiple>
            <div ng-message="required">Username is required.</div>
            <div ng-message="md-maxlength">Username must be 20 characters or less.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" name="password" ng-model="signup.password" minlength="3" required>
          <div ng-messages="signupForm.password.$error" role="alert" multiple>
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Password must be at least 3 characters.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Email</label>
          <input type="email" name="email" ng-model="signup.email" 
            ng-pattern="/^.+@.+\..+$/" minlength="10" maxlength="100" required>
          <div ng-messages="signupForm.email.$error" role="alert" multiple>
            <div ng-message="required">Email is required.</div>
            <div ng-message="pattern">Must be a valid email address format.</div>
            <div ng-message="minlength">Email must be at least 10 characters.</div>
            <div ng-message="maxlength">Email must be at most 100 characters.</div>
          </div>
        </md-input-container>
        <div layout="row">
          <md-input-container flex="50">
            <label>First Name</label>
            <input name="firstName" ng-model="signup.firstName">
          </md-input-container>
          <md-input-container flex="50">
            <label>Last Name</label>
            <input name="lastName" ng-model="signup.lastName">
          </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Phone Number</label>
            <input name="phone" ng-model="signup.phone" ng-pattern="/^[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}$/" 
              ui-mask="(999) 999-9999" ui-options="{addDefaultPlaceholder:false}"/>
            <div ng-messages="signupForm.phone.$error" role="alert" multiple>
              <div ng-message="pattern">(###) ###-#### - Please enter a valid phone number.</div>
            </div>
          </md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="signupForm.$invalid" ng-click="signup.signup()">Sign Up</md-button>
      </form>
  </div>
</div>