<div class="homeContainer" layout="row" layout-align="center">
    <div class="homeCenter" layout="column" layout-align="start" layout-padding>
        <h1 class="md-display-3">wp-bb-ng-md-starter</h1>
        <p class="md-title">Some md buttons:</p>
        <div class="buttonRow" layout="row" layout-align="space-around" layout-wrap>
            <md-button class="md-raised">Button</md-button>
            <md-button class="md-raised md-primary">Primary</md-button>
            <md-button class="md-raised md-primary" ng-disabled="true">Disabled</md-button>
            <md-button class="md-raised md-warn">Warn</md-button>
        </div>
        <p class="md-title">Some md responsive layout:</p>
        <div>
            <div layout="row" layout-xs="column">
                <div flex>First item in row</div>
                <div flex>Second item in row</div>
            </div>
            <div layout="column">
                <div flex="66">First item in column</div>
                <div flex="33">Second item in column</div>
            </div>
        </div>
    </div>
</div>