<div class="loginContainer" layout="row" layout-align="center">
    <div class="loginCenter" layout="column" layout-align="start" layout-padding flex style="max-width:400px;">
      <h1 class="title md-display-2">Login</h1>
      <form name="loginForm">
        <md-input-container class="md-block">
          <label>Username</label>
          <input id="usr" name="username" ng-model="login.username" md-maxlength="20" required>
          <div ng-messages="loginForm.username.$error" role="alert" multiple>
            <div ng-message="required">Username is required.</div>
            <div ng-message="md-maxlength">Username must be 20 characters or less.</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block">
          <label>Password</label>
          <input type="password" name="password" ng-model="login.password" minlength="3" required>
          <div ng-messages="loginForm.password.$error" role="alert" multiple>
            <div ng-message="required">Password is required.</div>
            <div ng-message="minlength">Password must be at least 3 characters.</div>
          </div>
        </md-input-container>
        <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" ng-click="login.login()">Login</md-button>
      </form>
  </div>
</div>